{% extends 'base.html.twig' %}

{% block title %}Nouveau virement{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5 p-5" id="home-conteneur">

        <h1>Effectuer un nouveau virement</h1>

        {{ include('transfert/_form.html.twig') }}

        <a href="{{ path('app_user_transfert_index') }}" class="btn btn-warning mt-3" role="button">Historique des virements</a>
        <a href="{{ path('app_user_homepage') }}" class="btn btn-warning mt-3" role="button">Retour à l'accueil</a>        

    </div>
{% endblock %}
