{% extends 'base.html.twig' %}

{% block title %}New Transfert{% endblock %}

{% block body %}
    <h1>Create new Transfert</h1>

    {{ include('transfert/_form.html.twig') }}

    <a href="{{ path('transfert_index') }}">back to list</a>
{% endblock %}
