{% extends 'base.html.twig' %}

{% block title %}Nouveau bénéficiaire{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5 p-5" id="home-conteneur">

        <h1>Nouvelle demande d'ajoût de bénéficiaire</h1>

        {{ include('beneficiary/_form.html.twig') }}
        <a href="{{ path('app_user_beneficiaries_index') }}" class="btn btn-warning" role="button">Liste des bénéficiaires</a>
        <a href="{{ path('app_user_homepage') }}" class="btn btn-warning" role="button">Retour à l'accueil</a>        
    </div>

{% endblock %}
