{% extends 'base.html.twig' %}

{% block title %}New Beneficiary{% endblock %}

{% block body %}
    <h1>Create new Beneficiary</h1>

    {{ include('beneficiary/_form.html.twig') }}

    <a href="{{ path('beneficiary_index') }}">back to list</a>
{% endblock %}
