<form method="post" action="{{ path('banker_delete', {'id': banker.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ banker.id) }}">
    <button class="btn btn-warning">Supprimer le bénéficiaire</button>
</form>
