{% extends 'base.html.twig' %}

{% block title %}New Banker{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5 p-5" id="home-conteneur">
        <h1>Create new Banker</h1>
        {{ include('banker/_form.html.twig') }}
    </div>
{% endblock %}
